@import 'css/normalize.css';

@import 'css/html5bp.css';
/*---------------------------------------------------
    LESS Elements 0.6
  ---------------------------------------------------
    A set of useful LESS mixins by Dmitry Fadeyev
    Special thanks for mixin suggestions to:
      Kris Van Herzeele,
      Benoit Adam,
      Portenart Emile-Victor,
      Ryan Faerman

    More info at: http://lesselements.com
-----------------------------------------------------*/
body {
  background: #000;
}
.styles section {
  min-width: 640px;
  min-height: 10px;
}
.ether {
  background: #af111b;
}
