@import 'normalize.less';
@import 'html5bp.less';
@import 'elements.less';
@import 'mixins.less';

@blood: hsl(356, 0.823, 0.376);
@panel-border: rgba(255, 255, 255, 1.0);
@panel-background: rgba(0, 0, 0, 1.0);
@panel-hover: rgba(255, 255, 255, 1.0);
@text: #ddd;
@active: rgba(0, 255, 0, 1.0);

@cell-rows: 6;
@cell-cols: 6;


html, body {
  width: 100%;
  height: 100%;
}
body {
  background: #000;
}
a, a:focus, a:hover {
  outline: 0;
}

#logo {
  margin: 0;
  position: absolute;
  right: 20px;
  bottom: 10px;

  font-family: 'Anaheim', sans-serif;
  font-size: 32px;
  color: #edc;
  text-shadow: 0px 1px 0px #999, 1px 2px 0px #777, 2px 3px 0px #666, 3px 4px 0px #333, 4px 5px 8px #885500;
}

.styles {
  section {
    .clearfix;
    position: relative;
    width: 640px;
    height: 10px;

    &.big {
      min-height: 100px;
    }
  }
}

.from(bg-vert-top) { background-position: 0 0; }
.to(bg-vert-bottom) { background-position: 0 100%; }
.keyframes(scroll-bg-vert, bg-vert-top, bg-vert-bottom);

.ether {
  .gpu;
  .stretch-rel;
  background-color: darken(@blood, 25%);
  z-index: -1;

  &:before {
    .gpu;
    .stretch-abs;
    background: url(/img/blood-cells-grey-alpha-png8.png) repeat 0 0 scroll;
    content: '';
    .opacity(0.3);
  }

  &.animated:before {
    .animation(~'scroll-bg-vert 30s linear 0s infinite');
  }
}

.cell {
  .gpu;
  .box-sizing(border-box);
  .rounded(10px);
  border: 2px solid #999;
  background-color: #ccc;
  position: relative;

  &:hover {
    border: 2px solid #9f9;
  }

  .cells & {
    float: left;
    width: 100%/@cell-cols;
    height: 100%/@cell-rows;
    cursor: pointer;
  }
  &.brain { background-color: #cfc; }
  &.lung { background-color: #fcc; }
  &.liver { background-color: #ccf; }
  &.muscle { background-color: #ccc; }

  //.transition(~"opacity 0.5s ease-in");
  .opacity(1.0);

  .props {
    position: absolute;
    display: inline-block;
    border: 1px solid #333;
    height: 20px;
    right: 3px;
    bottom: 3px;

    .prop {
      .opacity(0.8);
      display: inline-block;
      vertical-align: bottom;
      width: 4px;
      height: 0;

      &.reproduce { background-color: #009900; }
      &.apostosis { background-color: #990000; }
    }
  }

  &.empty {
    .opacity(0.35);
    .props { display: none; }
  }
}

.map {
  width: 100px;
  height: 200px;
  border: 1px solid fade(@panel-border, 50%);
  background-color: fade(@panel-background, 25%);
  .border-radius(3px);
  overflow: hidden;

  .silhouette {
    .stretch-rel;

    &:before {
      .stretch-pad(5px);
      content: '';
      background: url(/img/human-body-silhouette.svg) no-repeat center center;
      .background-size(contain);
    }
  }
  nav {
    .stretch-abs;
    z-index: 1;
    ul {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      li {
        display: block;
        width: 100%;
        position: relative;
        &.active {
          background-color: fade(@active, 25%);
        }
      }
      li + li {
        border-top: 1px solid fade(@panel-border, 10%);
      }
    }
    a {
      .stretch-abs;
      text-decoration: none;
      &:hover {
        background-color: fade(@panel-hover, 25%);
      }
    }
    .head { height: 16%; }
    .torso { height: 25%; }
    .midsection { height: 25%; }
    .legs { height: 34%; }
  }
}
.game {
  .stretch-rel;
  .map {
    position: absolute;
    right: 5px;
    top: 5px;
    width: 10%;
    height: 40%;
  }

  @aside-width: 15%;
  aside {
    .box-sizing(border-box);
    position: absolute;
    top: 0;
    left: 0;
    width: @aside-width;
    height: 100%;

    border-right: 1px solid fade(@panel-border, 50%);
    background-color: fade(@panel-background, 25%);
    p {
      color: #ddd;
      margin: 5px;
    }
  }

  .body {
    .box-sizing(border-box);
    position: absolute;
    width: 70%;
    height: 100%;
    top: 0;
    left: @aside-width;
    z-index: 2;
  }
  section {
    .stretch-abs;
    display: none;
    &.active { display: block; }

    h2 {
      .box-sizing(border-box);
      height: 50px;
      line-height: 50px;
      margin: 0;
      padding: 0 10px;
      color: @text;
      text-align: center;
    }

    .grids {
      .stretch-pad(20px);
      top: 60px;
      left: 50px;
      right: 20px;

      .grid {
        position: absolute;
        width: 47%;
        height: 100%;
        &:last-child {
          left: 53%;
        }
        h3 {
          margin: 0;
          height: 40px;
          line-height: 40px;
          text-align: center;
          color: @text;
        }
      }
      .cells {
        .stretch-abs;
        top: 40px;
      }
    }
  }
}
