@import 'normalize.less';
@import 'html5bp.less';
@import 'elements.less';
@import 'mixins.less';

body {
  background: #000;
}

.styles {
  section {
    position: relative;
    min-width: 640px;
    min-height: 10px;

    &.big {
      min-height: 100px;
    }
  }
}

.from(bg-vert-top) { background-position: 0 0; }
.to(bg-vert-bottom) { background-position: 0 100%; }
.keyframes(scroll-bg-vert, bg-vert-top, bg-vert-bottom);

.ether {
  .stretch;
  //background-color: hsl(356, 0.823, 0.376);
  background-color: hsl(356, 0.823, 0.25);

  &:before {
    .stretch;
    background: url(/img/blood-cells-grey-alpha-png8.png) repeat 0 0 scroll;
    content: '';
    .opacity(0.5);
  }

  &.animated:before {
    .animation(~'scroll-bg-vert 30s linear 0s infinite');
  }
}


.cell {
  .circle(20px);
  border: 2px solid #999;
  background-color: #ccc;
}
